parameters:
    level: 7
    paths:
        - src
        - database
        - config
        - tests
    checkOctaneCompatibility: true
    checkModelProperties: true
    configDirectories:
        - config
